h1 {
  color: springgreen;
  strong {
    color: deeppink;
    text-transform: uppercase;
    padding-right: 15px;

    position: relative;
    &:after {
      content: "";
      display: inline-block;

      width: 10px;
      height: 10px;
      background-color: grey;
      border-radius: 50%;

      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
