<h1>list works! Desde List Component <strong>Devmaster</strong></h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga enim magni sit adipisci quis quam eos aliquid fugiat sequi voluptatibus, repudiandae repellat! Officiis enim beatae, reiciendis eveniet eum aliquid recusandae?
Vitae distinctio aliquam quibusdam ea nobis optio. Ipsam, optio numquam nam quia magnam eum, repudiandae nemo eaque et aliquid, iste aliquam veritatis dolorem similique culpa sunt. Esse molestiae reiciendis libero.
Labore, dolorum odit quo, optio nisi magnam, unde facilis quod corrupti voluptas inventore rerum doloribus? Error aut, animi veniam nostrum eius, quaerat hic dolor esse ipsa, doloribus vero facere voluptatem?
Voluptatibus animi fugiat asperiores quas, saepe sit? Totam, voluptatibus. Obcaecati et molestiae dicta laudantium nesciunt ipsum cumque! Nesciunt deserunt fuga officiis dicta eveniet eligendi quaerat asperiores consequuntur? Atque, ullam eum.
Iste quod tenetur, hic sit ratione quasi ea placeat quibusdam, itaque ducimus commodi labore laboriosam veritatis illo. Esse modi ullam earum dolores. Veritatis corrupti officia cumque quia nihil facilis vel.
Pariatur exercitationem minima deleniti laudantium nisi! Aperiam nostrum eos provident cum magni eius quos perferendis reprehenderit fugit nesciunt voluptatum voluptas, animi aut laborum quod ea illo debitis adipisci alias autem?
Tenetur necessitatibus iste dolorum reprehenderit? Laudantium odit voluptatem sapiente, voluptatibus inventore fuga minima officia. Unde hic maxime possimus architecto saepe incidunt dolore tenetur dignissimos ipsam! Rerum reprehenderit amet modi vel?
A rerum natus illum harum odio nihil velit autem maiores consequuntur, ab quisquam reiciendis nulla aliquam? Veniam, temporibus quasi quam suscipit excepturi vel, molestiae velit distinctio, doloremque reiciendis dolore hic!
Provident quaerat ea porro, distinctio voluptatibus, optio molestias non repellendus ab praesentium ipsam nobis cupiditate laborum inventore. Soluta minima quibusdam autem illum non voluptatibus voluptatem aliquam error. Aut, asperiores consequatur?
Voluptatibus sequi vitae deleniti, iure odit, sed rem voluptatum voluptatem exercitationem consequuntur quasi quia. Maiores consequuntur voluptatum obcaecati quam cum pariatur eveniet? Vitae eum inventore voluptatem. Eius repellat pariatur itaque?</p>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>nombre</th>
      <th>precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of results">
      <td>{{result.id}}</td>
      <td>{{result.name}}</td>
      <td>{{result.referencePrice}}</td>
    </tr>
  </tbody>
</table>
